@font-face {
    font-family: nextFont;
    src: url("../font/TheNextFont.ttf");
}

@font-face {
    font-family: Beckman;
    src: url("../font/Beckman-Free.otf");
}

@font-face {
    font-family: kiona;
    src: url("../font/Kiona-Regular.ttf");
}

html {
    background-color: black;
}

#welcomeHome {
    width: 90%;
    /*margin: 0 auto;*/
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    display: flex;
    flex-direction: row;
}

#portraitEmka {
    width: 50%;
    margin-left: 30%;
}

#logoEmka {
    width: 40%;
    border-right: solid white 2px;
}

.contentImg {
    width: 100%;
    height: 15em;
    margin-left: 5%;
}

#changeImg,
#upImg{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

#containerImg {
    width: 100%;
    height: 15em;
    margin-left: 3%;
    overflow: hidden;
    position: relative;
}

#columnImg {
    position: absolute;
    height: 20em;
}

#typoLogoEmka {
    width: 30%;
    vertical-align: center;
}

#typoDevEmma {
    vertical-align: center;
}

#imgEnter {
    width: 50%;
    margin: 0 0 4em 0.5em;
}

#page-structure{
    height: 100vh;
}

header {
    position: relative;
    height: 50rem;
    overflow: hidden;
    background-color: white;
}

.header__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/header-home-fallback.jpg");
    background-size: cover;
    background-position: top;
    transform: skewY(-6deg);
    transform-origin: top left;
}


#main_site {
    background-color: white;
    min-height: 100vh;
}

/* CSS HEADER */

 #navEmma{
    height: 8em;!important
}

#typoLogoMenu {
    width: 20%;
    padding: 2em 0 0 4em;
}

#navBar{
    padding: 4em 6em 0 0;
}

#navBar li{
    margin-right: 1em;
    border-top: solid white 2px;
    padding-left: 3em;
    line-height: 2em;
}

#navBar li a {
    font-family: Beckman, sans-serif;
    font-size: 1.2em;
    padding: 0; !important
}

#navBar a:hover {
    border-top: none;
    border-bottom: solid 2px white;
}

#nameIdentity {
    font-family: Beckman, sans-serif;
    color: white;
}

#presentEmma {
    position: relative;
    margin: 15em 0 0 8.1em;
    color: white;
    width: 45%;
}

#lastName {
    font-family: kiona, sans-serif;
}

#definitionDev span {
    font-size: 1.5em;
    font-weight: bold;
}

/* CSS ABOUT ME */

#sectionAboutMe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-6deg);
    transform-origin: top left;
}

#presentation {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    position: relative;
    /*height: 50rem;*/
    overflow: hidden;
    background-color: white;
}

#columnInfos {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;
    margin-left: 6em;
}

#pictureEmma {
    width: 30%;
    height: 30em;
    border-right: solid black 1px;
}

#aboutMe {
    border-top: solid 1px black;
}

#titleAboutMe,
#titleHardSkills{
    max-width: 22%;
    margin-left: -2em;
}

#aboutMe p {
    font-family: "Roboto Thin", sans-serif;
    padding: 0 4em 0 0;
}


strong {
    font-weight: bold;
}

#hardSkill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: solid 1px black;
    padding-top: 2em;
}

.iconesTech {
    width: 9%;
    margin-right: 2em;
}


#html,
#css,
#composer,
#js{
    width: 6%;
}

/* CSS PROJECT */

#project {
    position: relative;
    height: 30rem;
    overflow: hidden;
    background-color: white;
}

.project__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: top;
    /*transform: skewY(+6deg);
    transform-origin: top left;*/
}

/* CSS CAROUSEL */

#carousel {
    position: relative;
    height: 400px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}
#carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}

#carousel img {
    width: 600px;
    transition: width 1s;
}

.hideLeft{
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}
.hideLeft img {
    width: 300px;
}

.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

.hideRight img {
    width: 300px;
}

.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
}
.prev img {
    width: 400px;
}

.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: .7;
}

.prevLeftSecond img {
    width: 300px;
}

.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
}

.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
}

.next img {
    width: 400px;
}

.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: .7;
}

.nextRightSecond img {
    width: 300px;
}




