@font-face {
    font-family: nextFont;
    src: url("../font/TheNextFont.ttf");
}

@font-face {
    font-family: Beckman;
    src: url("../font/Beckman-Free.otf");
}

@font-face {
    font-family: kiona;
    src: url("../font/Kiona-Regular.ttf");
}


html {
    background-color: black;
}



#welcomeHome {
    width: 90%;
    margin: 0 auto;
    padding-top: 30vh;
    display: flex;
    flex-direction: row;
}

#portraitEmka {
    width: 50%;
    margin-left: 30%;
}

#logoEmka {
    width: 40%;
    border-right: solid white 2px;
}

.contentImg {
    width: 100%;
    height: 15em;
    margin-left: 5%;
}

#changeImg,
#upImg{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

#upImg {
    flex-direction: column;
    align-items: flex-start;
}

.upImageResponse {
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.imgChangeResponse {
    width: 80%;
    margin: 0 auto;
    padding-top: 8%;
}

#containerImg {
    width: 100%;
    height: 15em;
    margin-left: 3%;
    overflow: hidden;
}

#columnImg {
    height: 20em;
}

#typoLogoEmka {
    width: 30%;
    vertical-align: center;
}

.divDev {
    width: 90%
}

#typoDevEmma {
    width: 100%;
    vertical-align: center;
}

.divEnter {
    width: 71%;
    height: 5em;
}

#imgEnter {
    width: 17%!important;
    float: right;
    padding-top: 0.5em;
}


#page-structure{
    height: 100vh;
}

header {
    position: relative;
    height: 50rem;
    overflow: hidden;
    background-color: white;
}

.header__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/header-home-fallback.jpg");
    background-size: cover;
    background-position: top;
    transform: skewY(-6deg);
    transform-origin: top left;
}


#main_site {
    background-color: black;
}

.wipe-transition {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 90%;
    position: absolute;
    left: -100%;
}


/* CSS HEADER */

 #navEmma{
    height: 8em;!important
     position: relative!important;
     background-color: transparent!important;
}

#typoLogoMenu {
    width: 15%;
    padding: 4em 0 0 4em;
    position: relative;
}

.sidenav {
    background-color: black!important;
    opacity: 80%!important;
    color: white!important;
}

.sidenav li a {
    color: white!important;
    font-family: kiona, sans-serif!important;
    padding-top: 4em!important;
}

#navBar{
    padding: 4em 6em 0 0;
}

#navBar li{
    margin-right: 1em;
    border-top: solid white 2px;
    padding-left: 3em;
    line-height: 2em;
}

#navBar li a {
    font-family: Beckman, sans-serif;
    font-size: 1.2em;
    padding: 0; !important
}

#navBar a:hover {
    font-size: 1.4em;
}

#nameIdentity {
    font-family: Beckman, sans-serif;
    color: white;
}

#presentEmma {
    position: relative;
    margin: 13em 0 0 8.1em;
    color: white;
    width: 45%;
}

#lastName {
    font-family: kiona, sans-serif;
}

#definitionDev span {
    font-size: 1.5em;
    font-weight: bold;
}

/* CSS ABOUT ME */

#sectionAboutMe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-6deg);
    transform-origin: top left;
}

#presentation {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    position: relative;
    height: 20rem;
    overflow: hidden;
    background-color: white;
}

#columnInfos {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;
    margin-left: 6em;
    margin-top: -1%;
}

#rowBlock {
    display: flex;
    flex-direction: row;
}

#pictureEmma {
    width: 30%;
    height: 30em;
}

#aboutMe{
    width: 95%;
}

#titleAboutMe,
#titleHardSkills{
    max-width: 80%;
    margin-left: -2em;
    padding-bottom: 2em;
}

#softskills {
    font-family: 'Archivo Black', sans-serif !important;
    text-transform: uppercase;
    line-height: 0.8em;
    font-size: 1.5em;
}

.softS{
  opacity: 90%!important;
}

.softNormal{
    opacity: 70%;
}

.contrast {
    opacity: 60%;
}

#soft{
    width: 95%;
}

#aboutMe p {
    font-family: "Roboto Thin", sans-serif;
    padding: 0 2em 0 0;
    width: 80%;
}

#aboutMe i {
    font-size: 0.9em;
    margin-right: 15px;
    color: black;
}

#typoAboutMe {
    font-family: Arial, sans-serif;
    font-size: 1.66em;
    color: black;
    padding-right: 3px;
    font-weight: 300;
}

#typoHardSkills {
    font-family: "Arial Black", sans-serif, sans-serif;
    font-size: 1.6em;
    color: black;
}

#rowTitle {
    display: flex;
    flex-direction: row;
}

#tabCaseAbout {
    height: 5em;
}

#tabCaseHard {
    height: 5em;
}

strong {
    font-weight: bold;
}

#hardSkill {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}

.iconesTech {
    width: 9%;
    height: 2em;
    margin-top: 1.5em;
}

#git {
    width: 9%;
    height: 2em;
    margin-top: 1.5em;
}

#adobe {
    width: 6%;
}

.rowColumn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.rowColumn img{
    margin-right: 7%;
}

#html,
#css,
#composer,
#js{
    width: 6%;
}

#ubuntu {
    width: 9%;
}

#jQuery {
    width: 11%;
    height: 2em;
    margin-top: 1.5em;
}

/* CSS PROJECT */

#project {
    position: relative;
    height: 50rem;
    overflow: hidden;
    background-color: white;
}

.project__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: top;
    transform: skewY(+6deg);
    transform-origin: top left;
}

/* CSS PROJECT */

#project {
    position: relative;
    height: 42rem;
    overflow: hidden;
    background-color: white;
}

.project__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: top;
    transform: skewY(+3deg);
    transform-origin: top left;
}

/* CSS CAROUSEL */

#carousel {
    position: relative;
    height: 400px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    margin-top: -8em;
}

#carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}

#carousel img {
    width: 600px;
    transition: width 1s;
}

.hideLeft{
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

.hideLeft img {
    width: 300px;
}

.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

.hideRight img {
    width: 300px;
}

.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
}

.prev img {
    width: 400px;
}

.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: .7;
}

.prevLeftSecond img {
    width: 300px;
}

.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
}

.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
}

.next img {
    width: 400px;
}

.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: .7;
}

.nextRightSecond img {
    width: 300px;
}

/* CSS MODALS */

#modalProject {
    width: 80%;
    min-height: 83vh;
    margin-bottom: 3em;
}

.modal__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background-color: black;
    background-size: cover;
    background-position: top;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    color: white;
}

.contentColumn {
  display: flex;
    flex-direction: column;
}

.contentColumn2 {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#titleProject {
    margin: -2.5em 0 0 3em;
}

#titleProject h1 {
    font-family: 'Archivo Black', sans-serif;
}

#titleProject2 {
    margin: -2.5em 0 0 3em;
}

#linkGit {
    padding: 0!important;
}

#titleProject2 h1 {
    font-family: 'Archivo Black', sans-serif;
}

#titleProject2 p {
    font-family: kiona, sans-serif;
    margin-top: -1.5em;
}

#titleProject p {
    font-family: kiona, sans-serif;
    margin-top: -1.5em;
}

.descriptionProject {
    margin-top: 1.5em;
    color: black;
}

.descriptionProject2 {
    margin-top: 1.5em;
    color: black;
}

.descriptionProject3 {
    margin-top: 2.5em;
    color: black;
}

.modal-footer i {
    font-size: 1.5em;
}

.des {
    font-family: kiona, sans-serif;
    font-size: 1.5em;
    padding: 1.1em 0 0 1.4em;
    text-transform: uppercase;
}

.compet {
    font-family: kiona, sans-serif;
    font-size: 1.3em;
    padding: 1em 0 0 1.8em;
    text-transform: uppercase;
}

.descriptionProject p {
    font-family: "Roboto Thin", sans-serif;
    font-size: 13px;
    padding: 0 2em 0 3em;
}

.descriptionProject ul{
    margin-top: -0.5em;
}

.descriptionProject2 ul{
    margin-top: -0.5em;
}

.descriptionProject ul li {
    padding: 0 2em 0 2.5em;
}

.descriptionProject2 p,
.descriptionProject3 p{
    font-family: "Roboto Thin", sans-serif;
    font-size: 13px;
    padding: 0 1em 0 3em;
}

.descriptionProject2 ul li,
.descriptionProject3 ul li{
    padding: 0 2em 0 2.5em;
}

.compet i {
    font-size: 1.1em;
}

.compet i,
.des i{
    margin-right: 5px!important;
}

#bg {
    width: 90%;
    height: 30em;
    overflow:hidden;
    margin-top: -2.5em;
}

#bg img {
    width: 100%;
}

#bg2 {
    width: 70%;
    height: 30em;
    overflow:hidden;
    margin-top: -2.5em;
}

#bg2 img {
    width: 100%;
}

.linkProject {
    margin-top: -3em;
    height: 3em;
    width: 100%;
    background-color: black;
    opacity: 80%;
    color: white;
    position: relative;
    padding: 0.5em 0 0 1em;
}

.linkProject span {
    font-family: kiona, sans-serif;
    opacity: initial;
}

#titleSection {
    width: 22%;
    position: relative;
    margin: 3em 0 0 3em;
}

#titleSection h4 {
    font-family: "Arial Black", sans-serif, sans-serif;
    font-size: 1.6em;
    padding-bottom: 0.5em;
    color: white;
    border-bottom: solid 1px white;
}

#titleSection p {
    color: white;
    font-family: "Roboto Thin", sans-serif;
}

/* CSS SECTION CONTACT */

#contactMe {
    width: 100%;
    background-color: white;
    height: 35rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#formContact {
    width: 50%;
}

#msg_contact {
    width: 50%;

}

#msg_contact div {
    width: 70%;
    margin: 0 auto;
    padding-top: 6em;
}

#formContactEmka {
    width: 80%;
    margin-top: 5em;
}

#formContactEmka label {
    font-family: kiona, sans-serif;
    color: black;
    margin-bottom: 2px;
}

#formContactEmka input {
    font-family: "Roboto Thin", sans-serif;
    color: black;
}

#msg_contact h4 {
    font-family: "Arial Black", sans-serif, sans-serif;
    font-size: 1.6em;
    padding-bottom: 0.5em;
    color: black;
    border-bottom: solid 1px black;
}

#msg_contact h6 {
    font-family: kiona, sans-serif;
    color: black;
    margin-top: 2em;
}

#msg_contact p {
    font-family: "Roboto Thin", sans-serif;
    font-size: 14px;
    color: black;
}

#msg_contact span {
    font-family: Beckman, sans-serif;
    font-size: 16px;
    color: black;
}

#msg_contact i {
    margin-right: 5px!important;
}

#mailDiv,
#objetDiv,
#msgDiv,
#buttonDiv {
    margin-top: -1em;
}

#myButton {
    border: solid 1px black;
    font-family: Beckman, sans-serif;
}

.error{
    color: #D8000C;
    background-color: #FFBABA;
}

::placeholder {
    font-family: "Roboto Thin", sans-serif;
    font-size: 14px;
}


#success {
    margin: 0 auto;
}

#success p {
    font-family: Beckman, sans-serif;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 11em;
    border-top: solid 1px black;
}

/* CSS FOOTER */

#footerEmka {
    position: relative;
    height: 20rem;
    overflow: hidden;
    background-color: white;
}

.footer__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: top;
    transform: skewY(+3deg);
    transform-origin: top left;
}

#sectionFooter {
    position: relative;
    width: 90%;
    color: white;
    margin: 0 auto;
}

#backTop {
    position: relative;
    color: white;
    margin-left: 12em;
}

#footerEmka i {
    font-size: 3em;
    color: white;
    text-align: center;
}

#logoFooter {
    width: 80%;
    margin-top: 3.5em;
    display: flex;
    flex-direction: row;
}

#nameEmma {
    font-family: Beckman, sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.5em;
}

#logoF {
    width: 13%;
    height: auto;
}

#logoFooter p {
    font-family: "Roboto Thin", sans-serif;
    line-height: 1em;
}

#contactEmma {
    margin-left: 3em;
}

#linkSocial i {
    font-size: 1.2em;
    margin-right: 1em;
}

#anchors {
    width: 80%;
    display: flex;
    flex-direction: column;
}

#anchors a {
    color: white;
    width: 30%;
    font-family: Arial, sans-serif;
    border-bottom: solid 1px white;
    margin-bottom: 0.5em;
}

#anchors a:hover {
    border-bottom: none;
}

#linkSocial {
    display: flex;
    flex-direction: row;
}














